/* Firefox userChrome.css tweaks ********************************************************/
/* Github: https://github.com/aris-t2/customcssforfx ************************************/
/****************************************************************************************/


/* See https://github.com/Aris-t2/CustomCSSforFx/discussions/722#discussioncomment-12481547 and
   https://github.com/Aris-t2/CustomCSSforFx/discussions/722#discussioncomment-12505305
*/

.tabbrowser-tab:not([pinned]):not([crashed]):is([soundplaying], [muted], [activemedia-blocked]) .tab-icon-image {
  display: none !important;
}

.tab-audio-button {
  --button-size-icon-small: 18px !important;
  --button-min-height-small: 18px !important;
  --button-border-color-ghost: unset !important;
  --button-border-radius: 30px !important;
  position: relative !important;
  top: -1px;
  margin-inline-start: -4.5px !important;
}

.tab-icon-overlay {
  padding: 0 !important;
  border: 0 !important;
  background-position: center !important;
  fill: currentColor !important;
}
